.dashboard{
background-color: var(--grey-100);
box-shadow: var(--shadow-2);
max-width:70vw;
margin: auto;
margin-top: 2rem;
margin-bottom: 2rem;
padding: 2rem;
display:grid;
grid-template-columns: auto auto;
gap:1rem;
border-left: 5px solid var(--grey-700);
}

.card-content{
 display: flex;
 border: 2px solid var(--grey-500);
 padding:1rem;
 align-items: center;
 justify-content:center;
 gap:1rem;
 width:300px;
 min-width: 250px;
 border-radius: 15px;
}

.card-content:hover{
 transform: scale(1.02);
 box-shadow: var(--shadow-1);
 transition:200ms ease-in-out;
}

.card-icon{
 color: var(--grey-500);
 /* justify-self: flex-start; */
}

.card-icon i{
 font-size: 2rem;
}

.stats{
border-left: 2px solid var(--grey-500);
padding-left: 1rem;
}

.stats h2{
 font-weight: 500;
 font-size: 2rem;
 color:var(--grey-700);
 border-top:2px solid var(--grey-500);
 padding-top: 0.5rem;
}
.stats h4{
 font-weight: 400;
 color: var(--grey-700);
 padding-bottom: 0.5rem;
}
@media only screen and (max-width:700px) {
 .dashboard{
  grid-template-columns:auto;
  justify-content: center;
  border: none;
 }
}